<!doctype html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {% seo %}
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
  <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  {% include head-custom.html %}
</head>

<body>
  <div class="wrapper">

    <section>
      <div id="title">
        <h1>NoahAbc12345</h1>
        <p>This half of the site is focused more on opinions than facts.</p>
        <p>
          <a href="../">About</a> |
          <a href="../pages">Pages</a> |
          <a href="../posts"><b>Posts</b></a> |
          <a href="https://github.com/NoahAbc12345/noahabc12345.github.io">Source</a> |
          <a href="https://discord.gg/mYjeaZQ">Discord</a>
        </p>
        <hr>
      </div>

      {{ content }}

    </section>
    <hr>

  </div>

  <footer id="footer">
    <div style="text-align:center">
      <p>
        <a href="https://music.apple.com/us/artist/noahabc12345/1649334377">Apple Music</a> |
        <a href="https://open.spotify.com/artist/3WlHV5uxEbHxBgvCJBIqX7">Spotify</a> |
        <a href="https://www.reddit.com/user/NoahAbc12345">Reddit</a> |
        <a href="https://www.twitch.tv/noahabc12345/">Twitch</a> |
        <a href="https://twitter.com/NoahAbc12345">Twitter</a> |
        <a href="https://www.youtube.com/channel/UCs7Dwap3P-QK2V8PDiy-7iw">YouTube</a>
      </p>
      <p style="line-height: 0px;">
        Created by <a href="https://github.com/NoahAbc12345">NoahAbc12345</a> |
        Themed by <a href="https://twitter.com/mattgraham">mattgraham</a>
      </p>
      <span>
        <a href="https://www.youtube.com/watch?v=TqKaVDo9cjs">
          <img src="https://www.serebii.net/pokedex-xy/icon/260-m.png" alt="Swampert">
        </a>
        <a href="https://www.youtube.com/watch?v=MRJILK3NxSM">
          <img src="https://www.serebii.net/pokedex-xy/icon/382-p.png" alt="Kyogre">
        </a>  
        <a href="https://www.youtube.com/watch?v=-fgso7M9azY">
          <img src="https://www.serebii.net/pokedex-xy/icon/384-m.png" alt="Rayquaza">
        </a>
          <a href="https://www.youtube.com/watch?v=BeklDFFg6p8">
          <img src="https://www.serebii.net/pokedex-xy/icon/386s.png" alt="Deoxys">
        </a>
        <a href="https://www.youtube.com/watch?v=W1ffhLt6FlA">
          <img src="https://www.serebii.net/pokedex-xy/icon/380-m.png" alt="Latias">
        </a>
        <a href="https://www.youtube.com/watch?v=vwKSN8pSq8g">
          <img src="https://www.serebii.net/pokedex-xy/icon/381-m.png" alt="Latios">
      </span>
    </div>
  </footer>
</body>

</html>