<!doctype html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:site_name" content="Nightkingale" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.description }}" />
  <meta property="og:image" content="/assets/images/other/icon.png" />

  {% seo %}
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
  <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  {% include head-custom.html %}
</head>

<body>
  <div class="wrapper">

    <section>
      <div id="title">
        <a href="../"><h1>Nightkingale</h1></a>
        <p>I'm a developer, meme rapper, and gamer.<br>All at the same time!</p>
        <p>
          <a href="../">Home</a> |
          <a href="../works">Works</a> |
          <a href="../posts"><b>Posts</b></a> |
          <a href="https://paypal.me/Nightkingale">Donate</a> |
          <a href="https://discord.gg/mYjeaZQ">Discord</a>
        </p>
        <hr class="header">
      </div>

      {{ content }}
      
    </section>
    <hr class="footer">

  </div>

  <footer id="footer">
    <div style="text-align:center">
      <div style="display: flex; justify-content: center; gap: 15px;">
        <div>
          <p>
            <strong>Follow me on social media:</strong>
            <br>
            <a href="https://www.instagram.com/nightkingale/">Instagram</a> |
            <a href="https://www.reddit.com/user/Nightkingale">Reddit</a> |
            <a href="https://www.twitch.tv/nightkingale/">Twitch</a>
            <br>
            <a href="https://twitter.com/Nightkingale">Twitter</a> |
            <a href="https://www.youtube.com/@Nightkingale">YouTube</a>
            <br>
            <b>Let's get it!</b>
          </p>
        </div>
        <div>
          <p>
            <strong>Stream or download my music:</strong>
            <br>
            <a href="https://music.amazon.com/artists/B0BT298RZB/nightkingale">Amazon Music</a> |
            <a href="https://music.apple.com/us/artist/nightkingale/1667825722">Apple Music</a> |
            <a href="https://www.deezer.com/us/artist/245187222">Deezer</a>
            <br>
            <a href="https://www.iheart.com/artist/nightkingale-41556020">iHeartRadio</a> |
            <a href="https://web.napster.com/artist/art.6521701394066183">Napster</a> |
            <a href="https://www.pandora.com/artist/nightkingale/ARg4Z66t3bmpjpV">Pandora</a> |
            <a href="https://soundcloud.com/nightkingale">SoundCloud</a>
            <br>
            <a href="https://open.spotify.com/artist/5HIHGLV7Sg3HAWkdFXfH9I">Spotify</a> |
            <a href="https://listen.tidal.com/artist/44164634">Tidal</a> |
            <a href="https://music.youtube.com/channel/UCqFo-Lm7ouU6AErFinNMecA">YouTube Music</a>
          </p>
        </div>
      </div>
      <p style="line-height: 0px; margin-top: 5px;">
        Created by <a href="https://github.com/Nightkingale">Nightkingale</a> |
        Themed by <a href="https://twitter.com/mattgraham">mattgraham</a>
      </p>
      <p style="line-height: 0px;">
        If you'd like, view the <a href="https://github.com/Nightkingale/Personal-Website">source code</a> on GitHub!
      </p>
      <p style="line-height: 0px;">
        <small>All rights reserved. © ℗ Nightkingale 2024</small>
      </p>
      <span>
        <a href="https://www.youtube.com/watch?v=TqKaVDo9cjs">
          <img src="https://www.serebii.net/pokedex-xy/icon/260-m.png" alt="Swampert">
        </a>
        <a href="https://www.youtube.com/watch?v=MRJILK3NxSM">
          <img src="https://www.serebii.net/pokedex-xy/icon/382-p.png" alt="Kyogre">
        </a>  
        <a href="https://www.youtube.com/watch?v=-fgso7M9azY">
          <img src="https://www.serebii.net/pokedex-xy/icon/384-m.png" alt="Rayquaza">
        </a>
          <a href="https://www.youtube.com/watch?v=BeklDFFg6p8">
          <img src="https://www.serebii.net/pokedex-xy/icon/386s.png" alt="Deoxys">
        </a>
        <a href="https://www.youtube.com/watch?v=W1ffhLt6FlA">
          <img src="https://www.serebii.net/pokedex-xy/icon/380-m.png" alt="Latias">
        </a>
        <a href="https://www.youtube.com/watch?v=vwKSN8pSq8g">
          <img src="https://www.serebii.net/pokedex-xy/icon/381-m.png" alt="Latios">
      </span>
    </div>
  </footer>
</body>

</html>